<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1"  >

    <test name="ChangeOfCity" >
        <classes>
            <class name="ChangeCityTest" >
                <methods>
                    <include name = "yandexMarketChangeCity"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Finding" >
        <classes>
            <class name="FindMouseTest" >
                <methods>
                    <include name = "findMouse"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Logining" >
        <classes>
            <class name="LoginTest" >
                <methods>
                    <include name = "loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>